/* ===== Navbar ===== */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background-color: #004d40; /* Dark green */
  color: white;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar h1 {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar-nav-center {
  font-weight: bold;
  display: flex;
  gap: 20px;
}

.navbar-nav-center a {
  color: white;
  padding: 5px 10px;
  transition: color 0.3s ease, background 0.3s ease;
}

.navbar-nav-center a:hover {
  color: #004d40;
  background: white;
  border-radius: 5px;
}

.navbar-nav-auth {
  display: flex;
  gap: 10px;
}

.navbar-nav-auth a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
}

.navbar-nav-auth a:hover {
  text-decoration: underline;
}

.navbar-profile-icon {
  width: 40px; /* Fixed size for the profile icon */
  height: 40px; /* Fixed size for the profile icon */
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid white;
  transition: transform 0.3s ease;
  display: flex; /* Center the content */
  align-items: center; /* Center the content vertically */
  justify-content: center; /* Center the content horizontally */
}

.navbar-profile-icon:hover {
  transform: scale(1.1);
}

.navbar-profile-picture {
  width: 100%; /* Make the image fill the profile icon */
  height: 100%; /* Make the image fill the profile icon */
  border-radius: 50%; /* Make the image circular */
  object-fit: fit; /* Ensure full image visibility */
}

.navbar-profile-initials {
  width: 100%; /* Match the size of the profile icon */
  height: 100%; /* Match the size of the profile icon */
  background-color: #4caf50; /* Green background */
  color: white;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 18px;
  cursor: pointer;
}


.navbar-profile-initials:hover {
  font-size: 23px;
  background-color: #838b83; /* Darker background on hover */
}