<<<<<<< HEAD

@tailwind base;
=======
/* @tailwind base;
>>>>>>> 2e62072c385638ad2e6e378d5eaa4cd20e3e9ca3
@tailwind components;
@tailwind utilities; */


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
